##################################
# Maven / Build
##################################
target/
!**/src/main/**/target/
!**/src/test/**/target/

##################################
# H2 Database / Runtime Data
##################################
data/
*.mv.db
*.trace.db
*.lock.db

##################################
# Kotlin (falls später)
##################################
.kotlin

##################################
# IntelliJ IDEA
##################################
.idea/
*.iws
*.iml
*.ipr

##################################
# Eclipse
##################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

##################################
# NetBeans
##################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

##################################
# VS Code
##################################
.vscode/

##################################
# OS / Misc
##################################
.DS_Store
Thumbs.db

##################################
# Logs
##################################
*.log

##################################
# Env / Secrets
##################################
.env
application-local.yml
application-dev.yml
